<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Nauvus Password</title>
</head>

<body>
    <table>
        <tr>
            <td style="padding: 20px;">
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            <h2>Nauvus</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 15px;font-weight: 500;text-align: center;">
                            <p>To reset your Nauvus account's password please click on the link below:</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 0 20px; text-align: center;">
                                <h1><a href="{{ url }}reset-password/confirm/{{ code }}" style="letter-spacing: 15px;">RESET</a></h1>
                            <br /><br />
                            If you did not request for this password reset or you run into any challenges, write to us
                            at admin@nauvus.com.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
