<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>

  {% comment %}
  <body>
    <h1>Hi,</h1>
    <p>You have been invited in the system.</p>
  </body>
  {% endcomment %}

  <body>
    <h4>Hi {{first_name}} {{last_name}},</h4>
    <p>
      Welcome to Nauvus. We're excited to start working with you.<br />At
      Nauvus, we’re on a mission to maximize revenue and minimize headaches for
      trucking entrepreneurs like yourself. Whether you're an Owner Operator,
      Carrier, or Independent dispatcher, who's just getting started or a
      trucking veteran with years of experience, we can be the partner to help
      your business grow. Here's our commitment to you:
    </p>
    <br />
    <h4><strong>Full Transparency</strong></h4>
    <p>
      No hidden fees and rates right at your fingertips. We're bringing you the
      visibility and support you need to run a world-class trucking business.
    </p>
    <br />
    <h4><strong>Availability</strong></h4>
    <p>
      We source loads form more than 12 brokers to make sure we always have the
      capacity you need to grow your business.
    </p>
    <br />
    <h4><strong>Never wait for another payment </strong></h4>
    <p>
      You shouldn't spend your time chasing down brokers, which is why we pay
      you instantly upon verifying proof of delivery.<br /><br />
      As a first step, please upload the documents requested and schedule a
      15-minute phone call with our onboarding specialist. We will walk you
      through the onboarding process.<br /><br />
      We’re looking forward to working with you. Let's build something great
      together.
    </p>
    <br />
    <p>
      Best,<br />
      Kamal<br />
      CEO, Nauvus
    </p>
  </body>
</html>
